
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-position: top center ;
    background-repeat: no-repeat;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
main{
    position: relative;
    height: 100vh;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    
}

section.telefone{
  position: absolute;
 top: 50%;
 left: 50%;

 width: 311px;
 height: 627px;
    
 transform: translate(-50%, -50%);
background-image: url('../imagens/frame-iphone.png');
background-repeat: no-repeat;

}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;

    width: 269px;
    height: 471px;
}
section#redes-socials{
    text-align: right;
}

section#redes-socials img:hover{
border: 1px solid rgba(255, 255, 255, 0.644);
transform: translate(-3px, -3px);
}

section#redes-socials  img{
width: 50px;
margin: 10px;
border-radius: 50%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
box-sizing: border-box;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
transition: transform 0.5s;
}